@import "compass";
@import "breakpoint";
@import "_block";


.desktop{
	width: 100%;
	height: 100%;
	background-color:#000;
	&:after{
		content: "";
		clear: both;
	}
	&:before{
		clear: both;
	}
}
