@import "compass";
@import "breakpoint";
$hidpi: min-resolution 1.5dppx;
$cross-reso: max-resolution 143dpi;

#foo {
  @include breakpoint($hidpi) {
    content: 'Device Pixel Ratio of at least 1.5';
    width: 100px;
  }

  @include breakpoint($cross-reso) {
    content: 'Cross Browser Resolution Query'
  }
}