/* Makes border-box properties */
*, *:before, *:after {
  box-sizing: border-box; }

.wrap {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

/* Tells Susy there's 8 columns in the content */
.content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%; }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  width: 32.20339%;
  float: right;
  margin-right: 0; }
